@import url("https://paperui.netlify.app/css/colors.css");

.card1 {
    justify-content: space-between;
    width: clamp(10rem, 22vw, 15rem);
}

.itemNotAvailable {
    color: var(--danger);
    font-weight: 900;
}

.itemAvailable {
    color: var(--success);
    font-weight: 900;
}

.rangeNum {
    display: flex;
    justify-content: space-between;
    margin-top:-1rem;
    font-size: 0.8rem;
}

.materialIcons {
    color: var(--danger);
}
