.gridcont {
  display: grid;
  grid-template-areas:
    "purpFlower purpFlower purpFlower peacock     peacock     orig3d      orig3d      fox         fox         fox"
    "purpFlower purpFlower purpFlower peacock     peacock     orig3d      orig3d      fox         fox         fox"
    "purpFlower purpFlower purpFlower quillFlower quillFlower quillFlower quillFlower fox         fox         fox"
    "purpFlower purpFlower purpFlower quillFlower quillFlower quillFlower quillFlower fox         fox         fox"
    "purpFlower purpFlower purpFlower quillFlower quillFlower quillFlower quillFlower fox         fox         fox"
    "rabbit     rabbit     rabbit     rabbit      rabbit      deer        deer        deer        deer        deer"
    "rabbit     rabbit     rabbit     rabbit      rabbit      deer        deer        deer        deer        deer"
    "rabbit     rabbit     rabbit     rabbit      rabbit      deer        deer        deer        deer        deer";
  grid-template-columns: repeat(7, 6rem);
  grid-auto-columns: 6rem;
  grid-template-rows: repeat(7, 6rem);
  grid-auto-rows: 6rem;
  align-self: center;
}

.flexCont {
  display: flex;
  flex-direction: column;
  padding: 10rem 7rem;
  gap: 3rem;
}

.gridImg {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding: 0.2rem;
}

.gridImg img:hover,
.showDetails + img:hover {
  transition: all 0.2s ease-in-out;
  filter: contrast(80%) blur(5px);
  transform: scale(1.05);
}

.showDetails {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 4;
  opacity: 0;
  color: white;
}

.showDetails p {
  display: flex;
  align-items: center;
}

.detailsTitle {
  text-transform: uppercase;
}

.gridImg:hover .showDetails {
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.gridImg img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.gridImg:nth-of-type(1) {
  grid-area: purpFlower;
}
.gridImg:nth-of-type(2) {
  grid-area: quillFlower;
}
.gridImg:nth-of-type(3) {
  grid-area: rabbit;
}
.gridImg:nth-of-type(4) {
  grid-area: peacock;
}
.gridImg:nth-of-type(5) {
  grid-area: orig3d;
}
.gridImg:nth-of-type(6) {
  grid-area: deer;
}
.gridImg:nth-of-type(7) {
  grid-area: fox;
}
