.coverImg {
    height: 17rem;
    overflow: hidden;
    position: relative;
}

.coverImg h1 {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem 2rem;
    border-radius: 1rem 0 0 0;
    color: #11284d;
    background-color: #f7faff;
}

.rangeNum {
    display: flex;
    justify-content: space-between;
}

.container {
    display: grid;
    padding: 5rem 0;
    grid-template-columns: 5rem 15rem 4fr 5rem;
    grid-template-areas: ". sidebar body .";
}

.filterPane {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.9rem;
}

.bodyPane {
    grid-area: body;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 2rem;
}

.filterPane ul li {
    list-style-type: none;
    padding: 0.4rem;
}

.filter .btn {
    border: 1px solid #11284d;;
    color: #11284d;
    font-weight: bold;
    border-radius: 0;
    padding: 0.2rem 0.5rem;
}

.closeFilter {
    display: none;
    margin-left: auto;
}

.filter {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    align-items: center;
}

.itemsList {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(1.5rem, 3vw, 3rem);
}

.filterButton, .filterButton button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filterButton button {
    display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1010px) {
    .filterButton button {
        display: flex;
    }

    input[type="range"] {
        width:100%;
    }

    .filter {
        padding-right: 0;
    }

    .filterPane {
        display: none;
        position: absolute;
        z-index: 2;
        background: white;
        border-radius: 1rem;
        box-shadow: 1px 1px 5px gray;
        padding: 1rem;
        width: 20rem;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        margin-top: 3rem;
    }

    .filterButton h1 {
        font-size: 1.8rem;
    }

    .container {
        display: flex;
        padding: 0 clamp(1rem, 4vw, 5rem);
    }

    .closeFilter {
        display: block;
    }
    .coverImg h1 {
        display: none;
    }

    .bodyPane {
        padding: 1rem;
    }

    .coverImg {
        height: auto;
    }
    .itemsList {
        justify-content: center;
    }

}