.categ-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.categ-list:first-of-type {
    padding-bottom: 6rem;
}

.card1 {
    width: clamp(9rem, 20vw, 15rem);
    box-shadow: none;
    padding: 0;
    cursor: pointer;
}

.card-img1 {
    width: 100%;
    margin: 0;
}

.categ-container {
    display: flex;
    flex-direction: column;
    padding: 0 clamp(2rem, 10vw, 8rem);
    gap: 2rem;
}

.categ-container h1,
.categ-container h3,
.categ-container h4  {
    margin: 0.5rem 0;
}

.categ-container h1 {
    font-size: 1.5rem;
}

.categ-container h4 {
    line-height: 1rem;
}

.authorprice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    font-size: 0.8rem;
}

.authorprice span:first-child {
    color: gray;
    font-size: 0.8rem;
}


/* MEDIA QUERIES */

@media screen and (max-width: 620px) {
    .card1 {
        width: 45%;
    }   
}
@media screen and (max-width: 520px) {
    .categ-list {
        gap: 1rem;
    }   
}