.signinForm {
    height: 100vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer {
    width: 40%;
    padding: 2rem;
}

.formContainer div {
    position: relative;
}

.formContainer div:nth-of-type(2) {
    position: relative;
}

.formContainer input,
.formContainer label {
    font-size: 1rem;
}

.formContainer input[type="submit"] {
    font-size: 1.3rem;
}

.formContainer input[value="Sign In"] {
    margin-top: 3rem;
}

.forgotPassword {
    position: absolute;
    right: 0;
    bottom: -1.2rem;
    font-size: 0.9rem;
    color: var(--font-primary);
}

.signup {
    text-align: center;
}

.loginBanner {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    width: 40%;
    justify-content: flex-start;
    /* height: 40%; */
    gap: 2rem;
    font-size: 1.5rem;
}

.errToast {
    justify-content: space-between;
}

.passwordVisibility {
    position: absolute;
    right: 1rem;
    top: 1.7rem;
    cursor: pointer;
    user-select: none;
}

.addressManagement {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 2rem;
    font-size: 1rem;
    /* height: 25rem; */
    /* max-height: 25rem; */
    /* overflow-y: scroll; */
}

.addressManagement h2 {
    margin-block-end: 2rem;
}

.btn-group {
    margin-block: 1rem;
    display: flex;
    gap: 1rem;
}

.btn-group-last {
    margin-block-start: 1rem;
}

.add-new-address {
    background: white;
    position: absolute;
    padding: 2rem;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
}

.add-new-address form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.add-new-address form h2 {
    align-self: center;
}

@media screen and (max-width: 745px) {
    .signinForm {
        flex-direction: column;
        width: 100%;
    }

    .loginBanner {
        padding: clamp(3rem, 13vw, 6rem) 5rem clamp(1rem, 5vw, 3rem) 5rem;
        width: 100%;
        gap: 1rem;
        height: min-content;
    }

    .loginBanner p {
        font-size: 1.2rem;
    }

    .formContainer {
        padding: 0 5rem;
        width: 100%;
    }

    .logoutBtn {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}