.flexCont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem clamp(2rem, 8vw, 8rem);
}

.iconList {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
    font-size: 1.3rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 713px) {
    .iconList {
        display: none;
    }
}